body {display:flex; flex-wrap: wrap;}
header {background-color: lightgray;}
footer {background-color: lightgrey;}
h1 {font-size: 62px;display: flex; flex-direction: row; justify-content: end;}
h2 {font-size: 36px;display: flex; flex-direction: row; justify-content: end;}
h3 {font-size: 34px; display: flex; flex-direction: row; justify-content: center;}
h4 {font-size: 28px;}
h6 {font-size: 15px;}
p {display: flex; font-size: 18px;}
img {width: 150px;height: 150px;}
main img {float:left; margin: 10px; max-width: 250px}

a:hover {background-color: grey;font-size: 15px;}
a:visited {color: purple;}
a {display: flex; flex-direction: row; justify-content: start;align-items: start;}
footer {display: flex; flex-direction: column ; justify-content: center; text-align: center;}
#titulofooter {display: flex; flex-direction: column; justify-content: start;text-align: start;}
#distinto {display: flex; flex-direction: column; justify-content: center;text-align: center }
